h3{
    font-family: monospace;
    font-size: 16px;
   }

.btn {
 padding: 10px 15px;
 background-color: rgb(255, 162, 162);
 border: 3px solid #fafafa;
 font-size: 16px;
 font-family: monospace;
 color: #090c0b;
 line-height: 1;
 border-radius: 10px;
 outline: none;
 cursor: pointer;
 transition: 0.3s;
 margin: 0;
}
   