/* DOCUMENTO CSS */
*{
    box-sizing: border-box; /* Ajusta el texto */
    margin: 0;
    padding: 0;
}

.input-container { /* Espacios entre campos */
    position: relative;
    margin: 2rem 0;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: initial;
    right: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 15px;
    background-color: rgb(255, 162, 162);
    border: 3px solid #fafafa;
    font-size: 16px;
    font-family: monospace;
    color: #090c0b;
    line-height: 1; 
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.texto{
    font-family: monospace;
    font-size: 16px;
}

.title {    
    width: 100%;
    height: 25%;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(167, 240, 176);
    font-size: 26px;
    font-family: monospace; 
    transition: 0.3s;
}
